.button {
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 150ms ease, border-color 150ms ease;
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-sm);
  border: calc(1rem / 16) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
    background-color: var(--mantine-primary-color-light);
  }
}

.body {
  flex: 1;
  margin-left: var(--mantine-spacing-md);
}
